{{define "subject"}}We're Sorry to See You Go - Unsubscribed from {{if eq .Type "All"}}All Events{{else}}{{.Type}} Events{{end}} at GIU Event Hub{{end}}

{{define "plainBody"}}
Hi,
We're sorry to see you go! You have successfully unsubscribed from GIU Event Hub.

{{if eq .Type "All"}}
You have unsubscribed from all event updates happening on the GIU campus.
{{else}}
You have unsubscribed from the updates about the {{.Type}} category events happening on the GIU campus.
{{end}}

If you change your mind, you can always resubscribe to receive updates about the exciting events.

Thank you for your time, and we hope to welcome you back in the future.

Best regards,
The GIU Event Hub Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <p>Hi,</p>
    <p>We're sorry to see you go! You have successfully unsubscribed from GIU Event Hub.</p>

    {{if eq .Type "All"}}
    <p>You have unsubscribed from all event updates happening on the GIU campus.</p>
    {{else}}
    <p>You have unsubscribed from the updates about the <strong>{{.Type}}</strong> category events happening on the GIU campus.</p>
    {{end}}

    <p>If you change your mind, you can always resubscribe to receive updates about the exciting events.</p>
    <p>Thank you for your time, and we hope to welcome you back in the future.</p>
    <p>Best regards,</p>
    <p>The GIU Event Hub Team</p>
</body>

</html>
{{end}}
