{{define "subject"}}You've Unsubscribed from GIU Event Hub{{end}}

{{define "plainBody"}}
Hi,

We're sorry to see you go! You've successfully unsubscribed from GIU Event Hub.

You will no longer receive updates about events happening on the GIU campus. If this was a mistake or you change your mind, you can resubscribe anytime by visiting our website.

Best regards,  
The GIU Event Hub Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http.equiv="Content-Type" content="text/html"; charset="UTF-8" />
</head>

<body>
    <p>Hi,</p>
    <p>We're sorry to see you go! You've successfully unsubscribed from <strong>GIU Event Hub</strong>.</p>
    <p>You will no longer receive updates about events happening on the GIU campus. If this was a mistake or you change your mind, you can resubscribe anytime by visiting our website.</p>
    <p>Best regards,</p>
    <p>The GIU Event Hub Team</p>
</body>

</html>
{{end}}
